@charset 'UTF-8';
/*******************************************************************************
 * v1.0.0
 * 15-12-2018, @r3dmut3
 *******************************************************************************/
/*******************************************************************************
 * Logo
 *******************************************************************************/
.logo
{
    position: relative;

    width: 100%;
}
.logo__image
{
    width: 100%;
    padding-bottom: 19.367588933%;

    background-image: url('../images/logo.svg'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/*******************************************************************************
 * Title
 *******************************************************************************/
.title
{
    width: 100%;
    height: auto;
}
.title__headline
{
    display: block;

    width: 100%;
    height: auto;
}
.title__svg,
.title__svg__image
{
    display: block;
}
.title__svg::after,
.title__svg::before
{
    display: table; 

    content: ' ';
}
.title__svg::after
{
    clear: both;
}
.title__svg__image
{
    width: 100%;

    background-repeat: no-repeat; 
    background-position: center center;
    background-size: contain;
}

.title
{
    margin-bottom: 1.25rem;
}

/*******************************************************************************
 * Tips/tip
 *******************************************************************************/
.tip
{
    position: relative;

    display: block;

    width: 100%;
    margin-bottom: 1.25rem;
}
.tip__wrapper
{
    position: relative;

    width: 100%;
    padding-bottom: 50%;
}
.tip__content
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding-left: 25%;
}
.tip__content p
{
    font-size: 1.2rem;

    padding-right: 1.25rem; 
    padding-left: 1.25rem;
}
.tip .border
{
    position: absolute;
}
.tip .border--top,
.tip .border--bottom
{
    width: 100%;
}
.tip .border--top
{
    top: 0;
    right: 0;
    left: 0;

    min-height: .2rem; 
    padding-bottom: .6%;

    background-image: url('../images/tips/border__top.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.tip .border--bottom
{
    right: 0;
    bottom: 0;
    left: 0;

    padding-bottom: 26.025236593%;

    background-repeat: no-repeat; 
    background-position: left bottom;
    background-size: 100%;
}
.tip .border--right,
.tip .border--left
{
    top: 0;
    bottom: 0;

    width: .6%;
    height: 100%; 

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.tip .border--right
{
    right: 0;

    background-image: url('../images/tips/border__right.svg');
}
.tip .border--left
{
    left: 0;

    background-image: url('../images/tips/border__left.svg');
}
.tip--1 .border--bottom
{
    background-image: url('../images/tips/border__1.svg');
}
.tip--2 .border--bottom
{
    background-image: url('../images/tips/border__2.svg');
}
.tip--3 .border--bottom
{
    background-image: url('../images/tips/border__3.svg');
}
.tip--4 .border--bottom
{
    padding-bottom: 27%; 

    background-image: url('../images/tips/border__4.svg');
}
.tip--5 .border--bottom
{
    background-image: url('../images/tips/border__5.svg');
}
.tip--6 .border--bottom
{
    padding-bottom: 27%; 

    background-image: url('../images/tips/border__6.svg');
}
.tip--7 .border--bottom
{
    background-image: url('../images/tips/border__7.svg');
}
.tip--8 .border--bottom
{
    padding-bottom: 27%; 

    background-image: url('../images/tips/border__8.svg');
}

.slick-arrow
{
    font-size: 0;

    position: absolute;
    z-index: 100; 
    bottom: 0;
    left: 50%;

    width: 1.55rem;
    height: 3rem;
    margin-top: -.775rem;

    cursor: pointer;

    border: 0;
    outline: 0;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.slick-prev
{
    margin-left: -25%;

    background-image: url('../images/elements/arrow__left.svg');
}

.slick-next
{
    margin-left: 25%;

    background-image: url('../images/elements/arrow__right.svg');
}

.slick-slider .paging
{
    line-height: 3rem;

    width: 50%;
    height: 3rem;
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    color: #0fa55a;
}
.slick-slider .paging li
{
    display: none;
}
.slick-slider .paging li.slick-active
{
    display: block;
}

/*******************************************************************************
 * Preloader
 *******************************************************************************/
.preloader
{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: top .4s linear;
            transition: top .4s linear; 

    color: #0fa55a;
    background-color: white;
}
.preloader.visible
{
    top: 0;
    bottom: 0;
}

.pageloaded .preloader
{
    display: none;
}
.pageloaded .preloader.visible
{
    display: block;
}

.spinner
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: auto;
    width: 50%;
    margin: 0 auto;
    margin-left: -25%; 

    text-align: center;
    text-align: center;
}

.spinner > div
{
    display: inline-block;

    width: 10px;
    height: 10px;

    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both; 

    border-radius: 100%;
    background-color: #0fa55a;
}

.spinner .bounce1
{
    -webkit-animation-delay: -.32s;
            animation-delay: -.32s;
}

.spinner .bounce2
{
    -webkit-animation-delay: -.16s;
            animation-delay: -.16s;
}

@-webkit-keyframes sk-bouncedelay
{
    0%,
    80%,
    100%
    {
        -webkit-transform: scale(0);
    }
    40%
    {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay
{
    0%,
    80%,
    100%
    {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    40%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

/*******************************************************************************
 * Base
 *******************************************************************************/
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    outline: 0;
    background: transparent;
}

*::after,
*::before
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

::-moz-focus-inner
{
    padding: 0; 

    border: 0;
}

html
{
    font-size: 10px;

    height: 100%;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body
{
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.285;

    overflow: hidden; 

    min-height: 100%;

    color: #4d4d4d;
    background-color: #fff;

    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.pageloaded body
{
    overflow: auto;
}

.screen-reader-text
{
    position: absolute !important;

    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px;
    height: 1px;

    word-wrap: normal !important;
}

/*******************************************************************************
 * Grid
 *******************************************************************************/
.page,
.container
{
    position: relative;

    display: block;

    margin: 0 auto;
    padding: 0;
}
.page::after,
.page::before,
.container::after,
.container::before
{
    display: table; 

    content: ' ';
}
.page::after,
.container::after
{
    clear: both;
}

.page
{
    width: 100%;
    max-width: 1920px;
}

.container
{
    width: 95%;
}

.section,
.row
{
    position: relative;

    display: block;

    width: 100%;
    margin: 0;
    padding: 0;
}
.section::after,
.section::before,
.row::after,
.row::before
{
    display: table; 

    content: ' ';
}
.section::after,
.row::after
{
    clear: both;
}

.column
{
    position: relative;

    display: inline-block;
    float: left; 

    width: 100%;
    margin: 0;
    padding: 0;
}

/*******************************************************************************
 * Typography
 *******************************************************************************/
h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.285;

    padding-top: -.275rem;
    padding-bottom: -.275rem; 

    text-transform: uppercase;
    -ms-word-wrap: break-word;
        word-wrap: break-word;
}

p
{
    font-size: 1.5rem;

    padding-top: .225rem;
    padding-bottom: .225rem;
}

a
{
    text-decoration: none;
}

strong
{
    font-weight: 700;

    display: inline-block; 

    padding-bottom: .625rem;
}

/*******************************************************************************
 * Lists
 *******************************************************************************/
ul
{
    list-style: none;
}
ul li
{
    font-size: 1.5rem;

    padding-top: .225rem;
    padding-bottom: .225rem;
}

/*******************************************************************************
 * Images
 *******************************************************************************/
img
{
    position: relative;

    display: block;

    max-width: 100%;
    height: auto;

    vertical-align: middle;
}

/*******************************************************************************
 * Buttons
 *******************************************************************************/
.button
{
    width: 100%;
}
.button a
{
    position: relative;

    display: block;

    width: 100%;
    padding-bottom: 15.03164557%;

    color: #4d4d4d;
    background-image: url('../images/elements/button.svg'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.button span
{
    font-size: 1.4rem;
    font-weight: 700;

    position: absolute;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: auto;

    text-align: center;
    white-space: nowrap; 
    text-transform: uppercase;
}
.button a:hover span
{
    color: #0fa55a;
}

/*******************************************************************************
 * Helpers
 *******************************************************************************/
.nl
{
    display: block;
}

.aligner__helper
{
    display: table;

    width: 100%; 
    height: 100%;
}
.aligner__helper .aligner
{
    display: table-cell;

    vertical-align: middle;
}

/*******************************************************************************
 * Warning
 *******************************************************************************/
.warning__wrapper
{
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden; 

    width: 100%;
    height: 100%;

    color: #0fa55a;
    background-color: white;
}
.warning__wrapper--upgrade
{
    display: none;
}

.warning p
{
    width: 50%;
    min-width: 320px;
    margin-right: auto; 
    margin-left: auto;

    text-align: center;
}

/*******************************************************************************
 * Page
 *******************************************************************************/
/*******************************************************************************
 * Header
 *******************************************************************************/
.header
{
    position: relative;

    width: 100%;
    padding-bottom: 110%;

    text-align: center;

    color: white;
    background-image: url('../images/header/bg.jpg');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}
.header__wrapper
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 

    width: 100%;
    height: 100%;
}
.header__title h1,
.header__title h2,
.header__title h3
{
    font-size: 1.5rem;

    padding-top: .225rem;
    padding-bottom: .225rem;
}
.header__tagline h1,
.header__tagline h2,
.header__tagline h3
{
    font-size: 1.5rem;
    font-weight: normal; 

    padding-top: .225rem;
    padding-bottom: .225rem;

    text-transform: none;
}
.header__matrix
{
    position: relative;

    width: 100%;
    padding-bottom: 48.7777778%;

    background-image: url('../images/header/front.svg');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}
.header__matrix__wrapper
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 

    width: 100%;
    height: 100%;
}
.header__matrix h1,
.header__matrix h2,
.header__matrix h3
{
    font-size: 1.2rem;

    margin-top: 5%; 
    padding-top: .225rem;
    padding-bottom: .225rem;
}
.header .logo
{
    width: 38.888888889%;
}
.header .logo,
.header__matrix
{
    margin-bottom: 1.25rem;
}

/*******************************************************************************
 * Footer
 *******************************************************************************/
.footer.section
{
    margin-bottom: -.5rem;
}

.footer .tagline p
{
    margin-bottom: 1.25rem;
}

.footer .contacts
{
    font-weight: 700; 

    color: #0fa55a;
}
.footer .contacts a
{
    color: #0fa55a;
}

.footer .title__svg__image
{
    padding-bottom: 10.745891277%;

    background-image: url('../images/footer/title.svg');
}

.footer:after
{
    display: block;

    width: 100%;
    height: auto;
    padding-bottom: 47.237569061%; 

    content: '';

    background-image: url('../images/footer/matrix.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/*******************************************************************************
 * Sections
 *******************************************************************************/
.section
{
    margin-bottom: 1.25rem;
}
.section--expandable .title
{
    position: relative;
}
.section--expandable .title button
{
    position: absolute;
    top: 50%;
    right: 2.5%;

    display: inline-block;

    width: 3.1rem;
    height: 1.6rem;
    margin-top: -1.55rem; 

    cursor: pointer;

    border: 0;
    background: none;
}
.section--expandable .title button:before,
.section--expandable .title button:after
{
    display: block;

    width: 3.1rem;
    height: 1.6rem;

    content: '';

    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
}
.section--expandable .title button:before
{
    background-image: url('../images/elements/arrow__down.svg');
}
.section--expandable .title button:after
{
    display: none;

    background-image: url('../images/elements/arrow__up.svg');
}
.section--expandable .expand__content,
.section--expandable .button
{
    display: none;
}

.chel
{
    width: 100%;
    height: auto;
}
.chel__before
{
    position: relative; 

    margin-top: -2.75rem;
    padding-bottom: 64.777777778%;

    background-image: url('../images/chel/back.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.chel__before:after
{
    position: absolute;
    top: 23.15%;
    left: 25.25%; 

    display: block;

    width: 49.5%;
    padding-bottom: 49.5%;

    content: '';

    border-radius: 50%;
    background-image: url('../images/chel/lexa.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.chel__content
{
    padding: 1.25rem 5%;
}
.chel__content p
{
    font-size: 1.4rem;
}
.chel__content p.top
{
    margin-bottom: .3125rem;
}
.chel .arrow
{
    position: relative;

    display: inline-block;

    width: 1.6rem;
    height: 1.75738rem;

    background-repeat: no-repeat; 
    background-position: center center;
    background-size: contain;
}
.chel .arrow--left
{
    margin-right: .625rem;
    margin-left: -.975rem; 

    background-image: url('../images/chel/a-l.svg');
}
.chel .arrow--right
{
    margin-bottom: -.87869rem; 
    margin-left: .625rem;

    background-image: url('../images/chel/a-r.svg');
}

.kandidat .title__svg__image
{
    padding-bottom: 24.399494311%;

    background-image: url('../images/kandidat/kandidat.svg');
}

.kandidat:after
{
    display: block;

    width: 100%;
    height: auto;
    padding-bottom: 50.346740638%; 

    content: '';

    background-image: url('../images/kandidat/matrix.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.kandidat ul li
{
    position: relative;

    display: block;

    width: 100%;
    margin-bottom: 1.25rem; 
    padding-bottom: 25%;

    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
}
.kandidat ul li:nth-child(1)
{
    background-image: url('../images/kandidat/1.svg');
}
.kandidat ul li:nth-child(2)
{
    padding-bottom: 24%; 

    background-image: url('../images/kandidat/2.svg');
}
.kandidat ul li:nth-child(3)
{
    background-image: url('../images/kandidat/3.svg');
}
.kandidat ul li:nth-child(4)
{
    background-image: url('../images/kandidat/4.svg');
}
.kandidat ul li:nth-child(5)
{
    padding-bottom: 24%; 

    background-image: url('../images/kandidat/5.svg');
}
.kandidat ul li .item
{
    font-size: 1.2rem;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding-left: 20%;
}
.kandidat ul li .item .aligner
{
    padding-bottom: .625rem; 

    vertical-align: bottom;
}
.kandidat ul li .item .note
{
    font-size: 85%;

    padding-top: 1%;
}

.video .title__svg__image
{
    padding-bottom: 10.745891277%;

    background-image: url('../images/video/title.svg');
}

.video .title--tagline
{
    width: 90%;
    margin-right: auto; 
    margin-left: auto;
}
.video .title--tagline .title__svg__image
{
    padding-bottom: 14.974619289%;

    background-image: url('../images/video/tagline.svg');
}

.video__content video
{
    width: 100%;
    height: auto;
}

.recommend__title
{
    width: 100%;
    height: auto;
    padding-bottom: 17%;

    background-image: url('../images/recommend/title.svg');
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: contain;
}

.recommend__content
{
    padding-left: 21%;
}

.exclude .title__svg__image
{
    padding-bottom: 11.125158028%;

    background-image: url('../images/exclude/title.svg');
}

.exclude:after
{
    display: block;

    width: 100%;
    height: auto;
    padding-bottom: 51.878612717%; 

    content: '';

    background-image: url('../images/exclude/matrix.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.exclude p
{
    font-size: 90%;
}

.exclude ul li
{
    font-size: 90%; 

    position: relative;

    display: block;

    margin-bottom: .625rem;
}
.exclude ul li:last-child
{
    margin-bottom: 0;
}
.exclude ul li:before
{
    font-size: 2em;

    position: absolute;
    top: -.275em;
    left: -.65em;

    display: block;
    display: inline-block;

    margin-left: 0; 

    content: '•';

    color: #0fa55a;
}

.tips .title__svg__image
{
    padding-bottom: 10.872313527%;

    background-image: url('../images/tips/title.svg');
}

.tech .title__svg__image
{
    padding-bottom: 10.732323232%;

    background-image: url('../images/tech/title.svg');
}

.get .title__svg__image
{
    padding-bottom: 10.872313527%;

    background-image: url('../images/get/title.svg');
}

.who .title__svg__image
{
    padding-bottom: 17.572692794%;

    background-image: url('../images/who/title.svg');
}

.who:after
{
    display: block;

    width: 100%;
    height: auto;
    padding-bottom: 44.22310757%; 

    content: '';

    background-image: url('../images/who/matrix.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.faq p
{
    font-size: 90%;
}

.section
{
    margin-bottom: 2.5rem;
}
.section--expandable:after
{
    display: none;
}
.section--expandable.active .expand__content,
.section--expandable.active .button
{
    display: block;
}
.section--expandable.active .preview
{
    display: none;
}
.section--expandable.active:after
{
    display: block;
}

.video__content
{
    margin-bottom: 2.5rem;
}

.video__tagline,
.video .button,
.recommend__content,
.tech p,
.tech .button,
.get p,
.who p
{
    margin-bottom: 1.25rem;
}

.tablet .page,
.no-mobile .page
{
    max-width: 1920px; 
    margin: 0 auto;
}

.tablet .header,
.no-mobile .header
{
    margin-bottom: -1%; 
    padding-bottom: 57.395833333%;

    background-image: url('../images/header/header__full.jpg');
}
.tablet .header__wrapper,
.no-mobile .header__wrapper
{
    display: none;
}

.tablet .main,
.no-mobile .main
{
    position: relative;

    margin: 0 auto;
    padding-right: 20%; 
    padding-left: 40%;
}
.tablet .main::after,
.tablet .main::before,
.no-mobile .main::after,
.no-mobile .main::before
{
    display: table; 

    content: ' ';
}
.tablet .main::after,
.no-mobile .main::after
{
    clear: both;
}
.tablet .main .side,
.no-mobile .main .side
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1%;

    width: 40%; 

    background-image: url('../images/bg__main.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
}

.tablet .container,
.no-mobile .container
{
    width: 100%;
    max-width: 100%;
}

.tablet .section:after,
.no-mobile .section:after
{
    display: none;
}

.tablet .button,
.no-mobile .button
{
    width: 57.5%; 
    margin-right: auto;
    margin-left: auto;
}

.tablet .chel__before,
.no-mobile .chel__before
{
    display: none;
}

.tablet .chel__content,
.no-mobile .chel__content
{
    display: none;
}

.tablet .chel__quote,
.no-mobile .chel__quote
{
    width: 65%;
    margin-top: 10%;
    margin-left: 10%;
    padding-bottom: 26.32911%;

    background-image: url('../images/chel/quote.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.tablet .kandidat .title__svg__image,
.no-mobile .kandidat .title__svg__image
{
    padding-bottom: 10.854947166%;

    background-image: url('../images/kandidat/kandidat__desktop.svg');
}

.tablet .kandidat ul li,
.no-mobile .kandidat ul li
{
    position: relative;

    display: block;

    width: 50%;
    margin-bottom: 0; 
    padding-bottom: 12.5%;

    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
}
.tablet .kandidat ul li:nth-child(2),
.no-mobile .kandidat ul li:nth-child(2)
{
    margin-left: 49%;
}
.tablet .kandidat ul li:nth-child(4),
.no-mobile .kandidat ul li:nth-child(4)
{
    margin-left: 49%;
}
.tablet .kandidat ul li:nth-child(4) .item,
.no-mobile .kandidat ul li:nth-child(4) .item
{
    margin-top: 12.5%;
}
.tablet .kandidat ul li:nth-child(4) .item .note,
.no-mobile .kandidat ul li:nth-child(4) .item .note
{
    padding-top: 1.25rem;
}

.tablet .video .title__svg__image,
.no-mobile .video .title__svg__image
{
    padding-bottom: 6.519654842%;

    background-image: url('../images/video/title__desktop.svg');
}

.tablet .video .title--tagline,
.no-mobile .video .title--tagline
{
    width: 60%;
}
.tablet .video .title--tagline .title__svg__image,
.no-mobile .video .title--tagline .title__svg__image
{
    padding-bottom: 14.974619289%;

    background-image: url('../images/video/tagline.svg');
}

.tablet .recommend__title,
.no-mobile .recommend__title
{
    width: 80%;
    padding-bottom: 12.323943662%;

    background-image: url('../images/recommend/title__desktop.svg');
}

.tablet .recommend__content,
.no-mobile .recommend__content
{
    padding-left: 32%;
}

.tablet .exclude .title__svg__image,
.no-mobile .exclude .title__svg__image
{
    padding-bottom: 6.628242075%;

    background-image: url('../images/exclude/title__desktop.svg');
}

.tablet .exclude__content p,
.tablet .exclude__content ul,
.no-mobile .exclude__content p,
.no-mobile .exclude__content ul
{
    padding-left: 32%;
}

.tablet .tips .title__svg__image,
.no-mobile .tips .title__svg__image
{
    padding-bottom: 6.615532119%;

    background-image: url('../images/tips/title__desktop.svg');
}

.tablet .tech .title__svg__image,
.no-mobile .tech .title__svg__image
{
    padding-bottom: 6.436119116%;

    background-image: url('../images/tech/title__desktop.svg');
}

.tablet .tech__content,
.no-mobile .tech__content
{
    padding-left: 32%;
}

.tablet .tech .button,
.no-mobile .tech .button
{
    width: 90%; 
    padding-left: 32%;
}

.tablet .get .title__svg__image,
.no-mobile .get .title__svg__image
{
    padding-bottom: 6.628242075%;

    background-image: url('../images/get/title__desktop.svg');
}

.tablet .get__content,
.no-mobile .get__content
{
    padding-left: 32%;
}

.tablet .who .title__svg__image,
.no-mobile .who .title__svg__image
{
    padding-bottom: 6.340057637%;

    background-image: url('../images/who/title__desktop.svg');
}

.tablet .who__content,
.no-mobile .who__content
{
    padding-left: 32%;
}

.tablet .tip__wrapper,
.no-mobile .tip__wrapper
{
    padding-bottom: 33%;
}

.tablet .tip__content,
.no-mobile .tip__content
{
    padding-left: 25%;
}

.tablet .footer p,
.no-mobile .footer p
{
    display: inline-block;
    float: left;

    width: 50%;
    padding-right: 1.25rem;
}

.tablet .footer .title__svg__image,
.no-mobile .footer .title__svg__image
{
    padding-bottom: 6.340057637%;

    background-image: url('../images/footer/title__desktop.svg');
}

.tablet .slick-list,
.no-mobile .slick-list
{
    padding-right: 10%; 
    padding-left: 10%;
}

.tablet .slick-arrow,
.no-mobile .slick-arrow
{
    top: 37.5%; 
    bottom: auto;
}

.tablet .slick-prev,
.no-mobile .slick-prev
{
    left: 0;

    margin-left: 0;
}

.tablet .slick-next,
.no-mobile .slick-next
{
    right: 0;
    left: auto;

    margin-left: 0;
}

@media all and (max-width: 1024px)
{
    .tablet .main,
    .no-mobile .main
    {
        padding-right: 5%;
    }
}

@media all and (orientation: portrait)
{
    .tablet .recommend__content,
    .no-mobile .recommend__content
    {
        padding-left: 16%;
    }
    .tablet .exclude__content p,
    .tablet .exclude__content ul,
    .no-mobile .exclude__content p,
    .no-mobile .exclude__content ul
    {
        padding-left: 16%;
    }
    .tablet .tech__content,
    .no-mobile .tech__content
    {
        padding-left: 16%;
    }
    .tablet .tech .button,
    .no-mobile .tech .button
    {
        padding-left: 16%;
    }
    .tablet .get__content,
    .no-mobile .get__content
    {
        padding-left: 16%;
    }
    .tablet .who__content,
    .no-mobile .who__content
    {
        padding-left: 16%;
    }
}

@media all and (min-width: 1024px)
{
    .tablet .chel__content,
    .no-mobile .chel__content
    {
        padding: 7.5% 0 7.5% 15%;
    }
    .tablet .chel__content p,
    .no-mobile .chel__content p
    {
        font-size: 2.4rem;
    }
    .tablet .chel .arrow,
    .no-mobile .chel .arrow
    {
        width: 2.8rem;
        height: 3.07541rem;
    }
    .tablet .chel .arrow--left,
    .no-mobile .chel .arrow--left
    {
        margin-left: -3.425rem;
    }
    .tablet .chel .arrow--right,
    .no-mobile .chel .arrow--right
    {
        margin-bottom: -1.5377rem;
    }
}

.mobile .exclude p,
.mobile ul
{
    padding-left: 1.25rem;
}

@media all and (orientation: landscape)
{
    .mobile .container
    {
        width: 45%;
    }
    .mobile .header
    {
        padding-bottom: 53.59375%;

        background-image: url('../images/header/header__full--alt.jpg');
    }
    .mobile .header__wrapper
    {
        display: none;
    }
    .mobile .section:after
    {
        display: none;
    }
}
